.jumbotron{
  margin-top: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR47lCR5_Fsijaclm4zpYr1rN7vp5uEU-GDUg&usqp=CAU");
  background-size: 50%;
  text-align: center;
  color: white;
  
}